body {
    margin: 0;
    padding: 0;
}
main {
    position: absolute;
    top: 100px;
    left: 500px;
    border: 1px solid black;
    padding: 20px;
}

form {
    text-align: center;
}


input {
    padding:15px 30px;
}

#button-number {
    padding: 18px;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 2px;

}