body {
    margin: 0;
}

main {
    border: 1px solid black;
    width: 250px;
    padding: 5px 15px 5px 15px; 
    border: 1px solid black;
    position: absolute;
    left: 40%;
    top: 20%;
}

input {
    padding: 12px 30px 10px 30px;
}

button {
    font-size: 20px;
    padding: 19px;
}

.backg-color-orange {
    background-color: green;
    color: white;
}
